body{
    margin: 0px;
    padding: 0px;
}

.full{
    width: 100%;
}

.fullBody{
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0px;
    background-color: #f4f4f4;
}
.topFlag{
    width: 100%;
    background-color: #9a0636;
}
.flagImg1,.flagImg2{
   
    width: 2%;
    height: 8%;
}
.flagImg1{
     margin-left: 85%;
}
.fullContent{
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 0px;
   
}
.header,.imageSlider,.introductionGadegt{
    background-color: #FFFFFF;
}
#headerLogo{
    width: 40%;
    height: 25%;
}
#eventImage{
    width: 100%;
    height: 40%;
   
}
#facebookLike{
   float: right;
    margin-right: 5%;
    margin-top: 5%;
}

.menuList{
    margin: -1%;
    padding: 0px;
}

#listItem{
    color: #9a0636;
    list-style: none;
    z-index: 10000;
   }
   #listItem li {
        display: inline;
        font-size: 18px;
        margin-right: 5%;
        z-index: 10000;
   }  
   #listItem li a{
       text-decoration: none;
       z-index: 10000;
     }
     #listItem li:hover{
         padding:.3%;
         background-color: #9a0636;
         border-top-left-radius:10px; 
         border-top-right-radius:10px; 
         z-index: 100000;
     }
      #listItem li:hover a{
         color: #FFFFFF;
         background-color: #9a0636;
         border-radius:3px; 
         z-index: 100000;
     }
     .sliderZindez{
         z-index: -10000;
     }
   .imageSlider{
       width: 100%;
     
       
   }
   .smallImage{
       width: 35.3%;
       float: left;
   }   
   .sliderImage{
       width: 63%;
       float: right;
   }
   
   .clear{
       clear: both;
   }
   h4,h5{
       margin: 0px;
       padding: 0px;
   }
   .introductionGadegt{
       
       margin-top: 1%;
       width: 100%
       
   }
   .introductionNote{
      padding-left:1%;
       text-align: justify;
       width: 50%;
       float: left;
       color: #FFFFFF;
       background-color: #9a0636;
   }
   .locationMap{
       width: 49%;
       float: right;
   }
   .gadegt{
       width: 33%;
       border-right:#FFFFFF solid 2px;
       background-color: #9a0636;  
       height: 100px;
       float: left;
       color: #FFFFFF;
       text-align: center;
       padding-top: .5%;
   }
   .gadegtLast{
       width: 33.2%;
      
       background-color: #9a0636;  
       height: 100px;
       float: left;
   }
   .footer{
       width: 100%;
       margin-top: 2%; 
   }
   .copyright,.design{
       width: 50%;
        float: left;
        text-align: center;
      }
      #eventBody{
          text-align: left;
          text-align: justify;
      }
      .textwrap{
          float: left;
          margin: 1%;
          width: 30%;
      }
      .overImage1,.overImage2,.overImage3{
           position: absolute;
           left: 450px;
      }
      .overImage1{
          top:330px;
      }
       .overImage2{
          top:500px;
      }
       .overImage3{
          top:670px;
       }
    #listImage{
           width:24%;
           height: 120px;
       }
       
       .reservationTitle{
           background-color: #d1c825;
           padding: 1%;
       }