body{
     font-family:Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
.full{
    width: 100%;
}
.fullBody{
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0px;
    background-color: #f4f4f4;
}
.topFlag{
    width: 100%;
    background-color: #9a0636;
}
.flagImg1,.flagImg2{
   
    width: 2%;
    height: 8%;
}
.flagImg1{
     margin-left: 85%;
}
.fullContent{
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 0px;
   
}
.header,.imageSlider,.introductionGadegt{
    background-color: #FFFFFF;
}
#headerLogo{
    width: 40%;
    height: 25%;
}
#eventImage{
    width: 100%;
    height: 40%;
}
#facebookLike{
   float: right;
    margin-right: 5%;
    margin-top: 5%;
}






#navcontainer
{
    padding: 5px 0px 0px 0px;
}


ul#navlist { 

}

ul#navlist a
{
font-weight: bold;
text-decoration: none;
}

ul#navlist, ul#navlist ul, ul#navlist li
{
margin: 0px;
padding: 0px;
list-style-type: none;
}

ul#navlist li { float: left; }

ul#navlist li a
{
color: #9a0636;
padding: 5px 15px 5px 15px;
margin-right: 15px;
border-bottom: #9a0636 solid 1px;
border-radius: 25px;
}

ul#navlist li a:hover
{
color: #fff;
background-color: #9a0636;
}

ul#navlist li a:active
{
color: #cccccc;
background-color: #003366;
border: 1px #ffffff inset;
}

ul#subnavlist { display: none; }
ul#subnavlist li { float: none; margin-top:5px; 
border-bottom: #9a0636 solid 1px;
border-radius: 25px;
}

ul#subnavlist li a
{
padding: 0px;
margin: 0px;
}

ul#navlist li:hover ul#subnavlist
{
display: block;
position: absolute;

padding-top: 10px;


}

ul#navlist li:hover ul#subnavlist li a
{
display: block;
width: 10em;
border: none;
padding: 5px;
background-color:#f4f4f4;
color:#9a0636;


}

#fb-root{
    margin-top: 80px;
    float:right;
    margin-right: -100px;
}
ul#navlist li:hover ul#subnavlist li a:hover
{
    background-color: #9a0636;
    color: #fff;
}

ul#navlist li:hover ul#subnavlist li a:after { content: " > "; }






     .sliderZindez{
         z-index: -10000;
     }
   .imageSlider{
       width: 100%;
   }
   .smallImage{
       width: 35.3%;
       float: left;
   }   
   .sliderImage{
       width: 63%;
       float: right;
   }
   .clear{
       clear: both;
   }
   h4,h5{
       margin: 0px;
       padding: 0px;
   }
   .introductionGadegt{
       margin-top: 1%;
       width: 100%
   }
   .introductionNote{
      padding-left:1%;
       text-align: justify;
       width: 50%;
       float: left;
       color: #FFFFFF;
       background-color: #9a0636;
   }
   .introductionNoteBody{
        padding:1%;
       text-align: justify;
       width: 98%;
       float: left;
       color: #FFFFFF;
       background-color: #9a0636;
   }
   .locationMap{
       width: 49%;
       float: right;
   }
   .gadegt{
       width: 33%;
       border-right:#FFFFFF solid 2px;
       background-color: #9a0636;  
       height: 100px;
       float: left;
       color: #FFFFFF;
       text-align: center;
       padding-top: .5%;
   }
   .gadegtLast{
       width: 33.2%;
      
       background-color: #9a0636;  
       height: 100px;
       float: left;
   }
   .footer{
       width: 100%;
       margin-top: 1%; 
       background-color: #FFFFFF;
       padding: 2%;
   }
   .copyright,.design{
       width: 50%;
        float: left;
        text-align: center;
      }
      #eventBody{
          text-align: left;
          text-align: justify;
      }
      .textwrap{
          float: left;
          margin: 1%;
          width: 30%;
      }
      .overImage1,.overImage2,.overImage3{
          position: relative;
          float: right;
          bottom: 30px;
          right: 10px;
          color: #9a0636;
          font-weight:bold;
          margin-bottom: -20px;
           
       }
    #listImage{
           width:24%;
           height: 120px;
          
       }
       
       .reservationForm{
           background-color: #9a0636;
           padding: 2%;
           color: #FFFFFF;
       }
       
       .reservationTitle{
           background-color: #FFFFFF;
           padding: 1%;
           color: #9a0636;
       }
       .listItemDiv{
           background-color: #9a0636;
           padding: 1%;
       }
       .listItemImage{
           padding: 1%;
       }